@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}


.main {
    background-image: url(assets/pics/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);

}

.main .box {
    height: 80vh;
    opacity: 0.4;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

nav img {
    width: 116px;
    position: relative;
    z-index: 1000;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin: 0 auto;

    position: relative;
    top: 20px;
}

.flex div {
    display: flex;
    gap: 10px;
}

.flex button {
    background-color: black;
    opacity: 70%;
    color: white;
    width: 100px;
    height: 40px;
}

.flex button p {
    position: relative;
    z-index: 22;
}

.hero {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 20px;
    position: relative;

}


.hero :first-child {
    font-size: 48px;
    font-weight: 1400;
    margin: auto;
}

.hero :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.flex button {
    font-size: 20px;
    z-index: 1000;
    position: relative;
}

.buttons button {
    height: 60px;
    width: 130px;
    background-color: red;
    color: white;
    border-radius: 4px;
}

.buttons input {
    background-color: black;
    opacity: 60%;
    width: 400px;
    height: 55px;
    border-radius: 4px;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    gap: 10px;

}


.saperation {
    height: 7px;
    width: 100%;
    background-color: rgb(116, 116, 116);


}

.block img{
    height: 200px;
    width: 450px;
    position: relative;


}

.block{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 50px 30px;
}

.mid{
    background: black;
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
}



.mid{
    display: flex;
    flex-direction: column;
} 

footer ul:first-child :first-child{
    font-size: 20px;
}

footer div{
    display: flex;
    gap: 90px;
    margin: auto;

}
footer{
    display: flex;
    padding: 30px;
    background-color: grey;
}

footer ul li{
    list-style: none;
    margin: 10px;
}